<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0174E6B1E4D842C00C5B4BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0174E841E4D842C00C5B4BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0174E8F1E4D842C00C5B4BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
